.form {
    width: 100%;

    .form-field {
        gap: 5px;
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        input, textarea {
            flex: 1;
            padding: 10px;
            border-radius: 5px;
            letter-spacing: 1px;
            border-color: transparent;
        }

        textarea {
            min-height: 150px;
        }
    }

    .form-button {
        text-align: right;
    }
}